{% include 'frame-header.html' %}
            <div class="form-group">
                <label for="baseDomain">Base Domain</label>
                <input type="text" class="form-control" id="baseDomain" placeholder="11stcorp.com">
            </div>
            <div class="form-group">
                <label for="baseNS">NS Base Domain</label>
                <input type="text" class="form-control" id="baseNS" placeholder="11stcorp.com">
            </div>
            <button type="button" class="btn btn-primary bottom20" id="printFormatBtn">출력</button>
            <div id="result"></div>
            <div id="info">
                <b><ins>※ 참고 사항</ins></b><br>
                1. 신규 Zone 추가시 필요한 Command 작업을 단순 출력해주는 기능<br>
                <div id="nsInfo">
                    <b><ins>※ 서버 정보</ins></b>
                    <table class="table">
                        <thead>
                            <tr><th>Hostname</th><th>IP</th><th>Role</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>DNSi-mgmt01</td><td>10.10.100.75</td><td>Master - Hidden</td></tr>
                            <tr><td>DNSi-ns01</td><td>10.10.100.73</td><td>Slave - ns1.11stcorp.com</td></tr>
                            <tr><td>DNSc-ns01</td><td>10.10.68.73</td><td>Slave - ns2.11stcorp.com</td></tr>
                            <tr><td>DNSb-ns01</td><td>10.10.166.73</td><td>Slave - ns3.11stcorp.com</td></tr>
                            <tr><td>DNSi-mgmt02</td><td>10.10.100.76</td><td>Slave - Reserved</td></tr>
                            <tr><td>DNSi-ns02</td><td>10.10.100.74</td><td>Slave - Reserved</td></tr>
                            <tr><td>DNSc-ns02</td><td>10.10.68.74</td><td>Slave - Reserved</td></tr>
                            <tr><td>DNSb-ns02</td><td>10.10.166.74</td><td>Slave - Reserved</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
{% include 'frame-footer.html' %}
