{% include 'frame-header.html' %}
            <div class="form-group">
                <label for="input">SWAP IP</label>
                <textarea class="form-control" rows="5" id="input" placeholder="test.syruppay.co.kr 110.10.175.80
jira.11stcorp.com 1.234.67.98"></textarea>
                <div id="buttons">
                    <button type="button" class="btn btn-warning" id="preBtn">조회</button>
                    <button type="button" class="btn btn-primary" id="swapBtn">변경</button>
                </div>
            </div>
            <div id="result"></div>
            <div id="info">
                <b><ins>※ 참고 사항</ins></b><br>
		*** 사용 금지. (rndc reload function disabled.) <br> </div>
{% include 'frame-footer.html' %}
